<div class="container">
  
    <strong>
        

<%= form_for @post, :html => {class: 'form-group' } do |f| %>
	<%= f.label 'Заголовок' %>
	<%= f.text_field :title, :class => "form-control" %>
	<%= f.label 'Текст' %>
	<%= f.text_area :body, :class => "form-control" %>
	<br/>
<center>	
	<%= f.submit 'Опубликовать', :class => 'btn btn-success' %>
</center>
<% end %>


     </strong>  
        
</div>
